html, body{
	height: 100%;
	margin: 0px;
	padding: 0px
}

#map-canvas {
	width:50%;
    height:calc(100% - 0);
    position:absolute;
    left:0px;
    top:50px;
    bottom:0;
    overflow:hidden;
}

#area-graficos, #myChart{
	float:left;
	height: 100%;
	width:50%;
	margin: 0px;
	padding: 0px;
}

.tab-content{
	height:100%;
	width:100%
}


